body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


header {
    background-color: #333;
    color: #fff;
    text-align: center;
}
header > nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    /* font-family: 'Brush Script MT', cursive; */
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}
button:hover {
    background-color: #555;
}

#content {
    flex: 1;
    display: flex;
}




